<!doctype html>
<html lang="en">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VZNTWW1M68"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VZNTWW1M68');
</script>

    <meta charset="utf-8">
	
	<title>{{title}}</title>
    <meta name="og:title" content="{{title}}">
	<meta name="twitter:title" content="{{title}}">

    <meta name="description" content="{{description}}">
	<meta name="og:description" content="{{description}}">
	<meta name="twitter:description" content="{{description}}">
	
    {{#image_url}}
    <meta name="twitter:card" content="summary" />
	<meta name="twitter:image" content="{{{image_url}}}">

    <meta name="og:type" content="article" />
	<meta name="og:url" content="{{{url}}}">
	<meta name="og:image" content="{{{image_url}}}">
    {{/image_url}}

	<link rel="icon" type="image/png" href="/public/images/favicon.png">
	 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind-dark.min.css" integrity="sha512-5qCImO4bnvlpsqNsYuZEHlzJhEN3MBqd3GZp0QCJS0gVNq3Q+MT9Msw8c4UT2j5Cuq/29kz3jCmgYJpekNqSMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
 
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
	
	pre {
		tab-size: 4;
		counter-reset: linecounter;
		padding: 0;
		font-size: 16px;
		line-height: 16px;
	}
	pre span.line {
		counter-increment: linecounter;
		line-height: 16px;
	}
	pre span.line::before {
		content: counter(linecounter);
		width: 30px;
		display: inline-block;
		border-right: 1px dotted #ccc;
		padding-right: 3px;
		margin-right: 5px;
		text-align: left;
		font-size: 11px;
		line-height: 16px;
	}
</style>


<script type="text/javascript">

	var project_json = `{{{project_json}}}`;
	var project = JSON.parse(project_json);
	
	


	function addLineClass (pre) {
		var lines = pre.innerText.trim().split("\n"); // can use innerHTML also
		while(pre.childNodes.length > 0) {
			pre.removeChild(pre.childNodes[0]);
		}
		for(var i = 0; i < lines.length; i++) {
			var span = document.createElement("span");
			span.className = "line";
			span.innerText = lines[i]; // can use innerHTML also
			pre.appendChild(span);
			pre.appendChild(document.createTextNode("\n"));
			
			
		}
	}
	window.addEventListener("load", function () {
		var pres = document.querySelectorAll("pre > code ");
		for (var i = 0; i < pres.length; i++) {
			addLineClass(pres[i]);
		}
	}, false);





</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PC8LMKPR');</script>
<!-- End Google Tag Manager -->

</head>


<body class="bg-gray-50 dark:bg-gray-800">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PC8LMKPR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	{{{header_html}}}

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
        {{{side_bar_html}}}
        <div class="relative lg:px-20 w-full h-full overflow-y-auto bg-gray-50 lg:ml-80 dark:bg-gray-900">
			<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
				<a href="{{{project.footer.socials.reddit}}}"><span class="font-medium">Help !</span> Join our reddit community to make community strong</a>
			</div>
			<div class="px-4 pt-6 space-y-8">
				{{{card_html}}}
			

                <div x-data="{
                    current_comment_value: '',
                    current_comment_id: null,

                    async save_comment() {
                        if (!this.my_account) {
                            let redirect_url = '/login?redirect=' + encodeURIComponent(window.location.href);
                            window.location.replace(redirect_url);
                            return;
                        }

                        let data = {
                            doc: '{{doc}}',
                            clazz: '{{clazz}}',
                            value: this.current_comment_value,
                        };

                        
                        if (this.current_comment_id) {
                            data.id = this.current_comment_id;
                        }


                        let headers = {
                            'Content-Type': 'application/json;charset=UTF-8',
                            'Authorization': 'Bearer ' + this.my_account.token,
                        };

                        let config = {
                            method: 'post',
                            url: '/comment/save',
                            data,
                            headers,
                        };

                        this.loading = true;
                        try {	
                            await axios(config);

                        } finally {
                            let self = this;
                            
                            self.loading = false;
                            window.location.reload(true);
                        }
                    }
                }">
                    <div class="flex flex-col items-end p-4 my-6 mx-4 bg-white rounded-lg shadow md:justify-between md:p-6 xl:p-8 dark:bg-gray-800">

                        <label for="message" class="justify-self-start block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Message</label>
                        <textarea x-model="current_comment_value" rows="4" class="block mb-2 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>
                        <div class="basis-1/4">
                            <button :class="loading && 'hidden' " @click="save_comment" type="button" class="px-3 py-2 text-xs font-medium text-center text-gray-700 hover:bg-gray-100 dark:text-gray-300  dark:hover:text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
                        </div>
                    </div>

                    
                    {{#comments_html}}
                        {{{comments_html}}}
                    {{/comments_html}}
                </div>
            </div>
				
           
			{{{footer_html}}}	
        </div>
    </div>

</body>

</html>