<div class="rounded bg-white border-gray-200 shadow-md overflow-hidden relative hover:shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
<a href="{{{url}}}" >
    {{#is_player_card}}
      <img class="h-32 sm:h-48 w-full object-cover" src="{{{image_url}}}" alt="{{title}}">
    
    {{/is_player_card}}
    {{#is_summary_image_card}}
      <img class="h-32 sm:h-48 w-full object-cover" src="{{{image_url}}}" alt="{{title}}">
    {{/is_summary_image_card}}
    <div class="m-4">
      <div class="flex justify-between">
        <span class="font-bold dark:text-white">{{title}}</span>
        
      </div>
      <span class="block text-gray-500 text-sm">{{description}}</span>
      <div class="flex justify-between text-base text-gray-900  hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
        <div class="gap-2">
          <a href="/profile/{{user_id}}" type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false">
              <img class="w-8 h-8 rounded-full" src="{{profile.picture}}" alt="{{profile.name}}">
          </a>
          <span>{{profile.name}}</span>
        </div>
        <div>Few minutes ago</div>
       
      </div>
      
    </div>
</a>
</div>
